
Gruppe8Eksamensprojekt2019/.vs/Gruppe8Eksamensprojekt2019/v16/.suo

*.ide
Gruppe8Eksamensprojekt2019/.vs/Gruppe8Eksamensprojekt2019/v16/Server/sqlite3/storage.ide-shm
Gruppe8Eksamensprojekt2019/.vs/Gruppe8Eksamensprojekt2019/v16/Server/sqlite3/storage.ide-wal
